@media only screen and (min-width: 480px) {
  body { font-size:10px;

  }
}
@media only screen and (min-width: 768px) {
  body { font-size: 11px;}
}
@media only screen and (min-width: 1000px) {
  body { font-size: 12px;}
}
@media only screen and (min-width: 1170px) {
  body { font-size: 13px;}
}
@media only screen and (min-width: 1340px) {
  body { font-size: 14px; }
}
@media only screen and (min-width: 1580px) {
  body { font-size: 15px; }
}
@font-face {
 font-family: '5thgradecursive-2';
  src: url('5thgradecursive-2.ttf');
}
body {
  height:100vh;
 margin: 0;
  width:100vw;

 overflow: hidden;

/*background-image: url("http://deda.me/images/background_tile.jpg");
background-image: url("http://applecrumbs.com/img/home/billboard-bg.jpg");*/
background-color: rgb(227,221,210);
/*background-image: url("https://inspirationhut.net/wp-content/uploads/2014/09/black-paper.jpg");*/
background-color: #ECEFF1;
background-color: #F8F8F8;
/*background-image: url("https://raw.githubusercontent.com/owenversteeg/min/gh-pages/pattern.png");*/

 }


img
{
  filter:blur(5px);
 height:100vh;
margin:0;
  width:100vw;  
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 76%;
    text-align: center;}
}

/* entypo */

.terminal
{
  border:11px  0 0 0 #66fcf1;
  margin:0 auto;
 padding:30px;
 /*border-top:17px solid #4d4d4d ;*/
  /*background-color:rgba(0,0,0,0.65);*/
  background:transparent;
  /*opacity:0.5;*/
   /**/
 vertical-align: middle;
  border-radius:5px;
  color:white;
  width:31%;
  height:50%;
  overflow: hidden;
}
.terminal span
{
  font-size: 122%;
/*  font-family: 'Inconsolata',serif;*/
font-family: 'Open Sans', sans-serif;
font-weight:800;
  text-align: center;
}
.sidenav span:hover
{
  color:white;
}
span
{
  font-size: 100%;
  right:0;
  font-family: 'Inconsolata',serif;
}
button span
{
 font-size: 100%; 
}
button span:hover
{
 color:#C0C0C0; 
}
a i
{
  left:0;
}
.skill2
{
  margin:0;
  /*mar*/
  width: 100%;
  background:transparent;
  height: 100%;
  /*background-color: #008F95;*/
   /*text-align: center;*/
   /*border-radius:  5px;
   box-shadow: 2px 2px 2px 2px #E0E0E0; */ 
}
.skill
{
 list-style-type: none;
    height: 100%;
    padding: 0;
width: 100%;
/*border:1px solid #E0E0E0;*/
    overflow: hidden;
/*text-align: center;*/


border-radius: 5px;  
}
.skill1
{
  border-radius:  5px;
   /*border:1px solid #E0E0E0;*/
   /*border-bottom: 1px solid black;  */
 /*margin:0 auto;*/
    /*float:middle;*/
    height: 80%;
     margin-left: 2vw;
     overflow: hidden;
 display: inline-block;

}
#df
{
  height: 100%;
  width: 100%;
  background: transparent;
}
#df img
{
margin-left: auto;
  margin-right: auto;
  display: block;  
}

.skill1 a, .dropbtn {
    display: inline-block;
    color:black;

    text-align: center;
    padding: 8px 10px;
    font-size: 100%;
    text-decoration: none;
    opacity: 1;
    font-weight: 200;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:700;
    font-variant: normal;

}
.skill1 a:hover, .dropbtn {
    
    color:#E0E0E0;

   
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  

}
p
{
/*  font-family: 'Lato', sans-serif;*/
/*font-family: "Josefin Slab";*/
/*font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;*/
/*font-family: Verdana, Geneva, sans-serif;*/
/*font-family: Myriad Pro;*/
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:100;
    font-variant: normal;
padding: 4px;
  margin:5px; 
  color:  #585858;
  line-height: 150%;
  font-size: 115%;

  /*font-family: 'Inconsolata',serif;*/
}
.divex
{
  
  width:100%;
  height:100%;
  position:relative;
 
  margin:0 auto; 
  vertical-align: middle;
}
#ty
{
  position:absolute;
  top:50%;
  left:50%;
 background-color:#414141;
}
span
{
  
  text-align: center;
}

#d
{
  height:10vh;
  width:100%;
  background:transparent;
}
#op
{
  border-bottom:1px solid #DCDCDC;
  height:13vh;
  width: 100%; 
  /*background-color:  #FFDFDD;*/
}
#op1
{
  border-bottom:1px solid #DCDCDC;
  height:24vh;
  width: 100%; 
  /*background-color:  #F0F0F0;*/
}
#new5
{
  width:37vw;
  height:67vh;
  margin-left:34vw;
  /*background: transparent;*/
  background-color:   white;
padding-top: 25px;
border: 1px solid #E0E0E0;
   /*text-align: center;*/
   border-radius  :5px;
   text-align: center;
    box-shadow: 2px 2px 2px #607D8B;

}
#new5 p
{
  padding: 7%;
}
#new6
{
  padding-left:10vw;
  width:100%;
  height:67vh;
  /*margin-left:15vw;*/
  background: transparent;
  margin:0 auto;
   text-align: center;
  /*background-color:   #F0F0F0;
   text-align: center;
   border-radius  :5px;
   text-align: center;
*/
}
#new1
{
  border: 1px solid #E0E0E0;
  float: left;
  width:19vw;
  height:67vh;
  margin-left:5vw;
  /*background: transparent;*/
  background-color:white;
   /*text-align: center;*/
   border-radius  :5px;
   text-align: center;
   box-shadow: 2px 2px 2px  #607D8B;

}
#new1 img
{
  /*margin:0 auto;*/
  padding: 7px;
  height:5vh;
  width:2.5vw;
  border-radius: 50%;
}

#divex1
{
  background-color:#C99E10;
   height: 4vh;
   width: 100%;


}
.navbar1
{
    height:15.5vh;
    width:50vw;
    overflow: hidden;
    background-color:#BCAAA4;
    background-color:#212121;
    
    background-color: black;
    background-color: #26A69A;
    background-color: #37474F;
    /*box-shadow: 0px 5px 0px 0px rgba(38,166,154,0.5);*/
    opacity: 1;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar1 a 
{
  margin-right: 8px;
    margin-top: 34px;
    float: right;
    font-size: 17px;
    color: #B2DFDB;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 1px;

}

.big
{
    margin:0;
}
.navbar {

    height:13vh;
    width:100vw;
    overflow: hidden;
    float: left;
    background-color: #212121;

    background-color: black;
    background-color: #26A69A;
    background-color: #37474F;
    /*box-shadow: 0px 5px 0px 0px rgba(38,166,154,0.5);*/
    /*#862f48*/
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.navbar a {
    margin-right: 14px;
    margin-top: 26px;
     border: 1px solid #37474F;;
     border-radius: 14px;
    float: left;
    font-size: 25px;
    color: #B2DFDB;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
}
/*.drop*/
.dropdown {
    float: left;
    overflow: hidden;
     border-radius: 2px;
    border: 1px solid #37474F;;
    height:38px;
    margin-top: 35px;
}

.dropdown .dropbtn {
    margin-right: 10px;
    margin-top: 26px;
     border: 1px solid #B2DFDB;
     border-radius: 2px;
    font-size: 13px;    
    border: none;
    outline: none;
    color: #B2DFDB;
    padding: 13px 13px;
   /* padding-top: 16px;*/
    /*padding-bottom: 16px;*/
    background-color: inherit;
    font-family: 'JunctionRegular';
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    font-size: 80%;
    padding: 10px 10px;
    text-decoration: none;
    border: 0px solid grey;
    margin:0 auto;
     font-family: 'JunctionRegular';
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#ak
{
margin-left:0px;
/*margin-bottom: 5px;*/
 padding-left: 0;
    padding-right: 0;
    /*padding-bottom: : 10px;*/
   background: transparent;
    /*float:middle;*/
    position: relative;
top:2.5px;
 display: inline-block;

}
#er
{
    list-style-type: none;
    height: 8vh;
    padding: 0;
width: 50%;

    overflow: hidden;
text-align: center;
/*margin-right: 25%;*/

border-radius: 5px;

}
#so{
  /*position: absolute;*/

    float:right;
 display: inline-block;
 /*border: 1px solid  #C4DFE6;*/
 

}


#ak a {
    display: inline-block;
    /*color: #C4DFE6;*/
    color:white;
    text-align: center;
    padding: 2px 2px;
  /*padding-bottom: 25px;*/
    font-size: 100%;
    text-decoration: none;
    opacity: 1;
    font-weight: 200;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:700;
    font-variant: normal;

}
p a{
    
    color: #607D8B;
    /*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'JunctionRegular'; 
    font-size: 100%;
    text-decoration: none;
    opacity: 1;
    font-weight: 200;

}
#social
{
  bottom: 0;
      width:100%;
  max-height:5%;
  position: fixed;

  background:transparent;
  overflow: hidden;
  text-align: center;

}


span :hover
{

  color:#FF3B3F  ; 
}
i :hover
{

  color:#FF3B3F  ; 
}
/*li.dropdown {
  position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E0E0E0;
    background-color: #E0E0E0;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
}*/
#new2
{
  height:4vh;
  width:100%;
  margin:0 auto;
  /*background-color:#F8F8F8;*/
}
h
{
font-size: 200%;
color:#1995AD;
/*font-weight: 800;*/
}
#social
{
  width:100vw;
  height:10vh;
  color:white;
}
#37474F