
img {
	-webkit-box-shadow: 6px 9px 48px -29px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 6px 9px 48px -29px rgba(0, 0, 0, 0.45);
	box-shadow: 6px 9px 48px -29px rgba(0, 0, 0, 0.45);
}

img{
	margin-top: 2rem;
	margin-bottom: 1rem;
  display: block;
  margin: 2rem auto;
}

img {
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 0px none #000000;
}

img {
  border: 0.01px solid #ccc ;
}

img.emoji {
  display: inline;
  border: none ;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

img.avatar {
  display: inline;
  border: 0px none #000000;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.45);;
  -moz-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.45);;
}
